/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
 
    background-color: #ffffff;
}
.top{
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;  background-color: #ffffff;
}
.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.281);
    overflow: hidden;
    margin: 0 20px;
}

.container .forms{
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}
.form form{
    overflow-y: hidden;
}
.form2 form{
    overflow-y: scroll;
}

.container .form{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}
.container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms{
    height: 600px;
}
.container .form .title{
    position: relative;
    font-size: 20px;
    font-weight: 600;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #4070f4;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #4070f4;
}

.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin-right: 10px;
    accent-color: #4070f4;
}

.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    color: #4070f4;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #265df2;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}


/* Preloader styles */
#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.spinner {
    border: 12px solid #f3f3f3;
    border-top: 12px solid #35424a;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* -------header------ */

.nav_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #0010f517;
  
}

.top_header{
  padding: 15px 0;
}

.navbar {
  position: fixed;
  width:100%;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 0;
    z-index: 11111;
}

.logo {
    margin: 0;
    font-size: 24px;
}
@media screen and (max-width:550px) {
  .logo img{
    width: 140px;
  }
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 15px;
    transition: color 0.3s ease;
}


.nav-links li a:hover {
    color: #0060df;
}
.nav-links  .button{

  padding: 13px 20px;
   /* display: flex;  */
  margin-top: -13px;
  margin-left: 20px;
  /* justify-items: center;
  align-items: center; */
  text-align: center;
  background-color: #0060df;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
}
.nav-links  .button:hover{
  background-color: #000000;
  transition: 1s ease;
}
/* Dropdown menu */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ffffff;
}

/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.bxs-user-detail{
display: flex;
justify-content: center;
align-items: center; font-size: 14px;

}
/* Responsive Navigation */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        padding: 10px 0;
        text-align: center;
    }
    .nav-links  .button{
      margin-top: 0px;
      padding: 8px 15px;
      margin-left: 0px;

    }

    .nav-links.active {
        display: flex;
    }
    .dropdown-content {
  
      min-width: 100%;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      z-index: 1;
    }
    .nav-links li {
        margin: 10px 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .burger div {
        width: 25px;
        height: 3px;
        background-color: #000000;
        margin: 5px;
        transition: all 0.5s ease;
    }
}

/* Burger animation */
.burger.active div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger.active div:nth-child(2) {
    opacity: 0;
}

.burger.active div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}



/* Footer styles */
.footer {
    background: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 50px 20px;
    position: relative;
    margin: 40px;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-content h3 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .footer-content p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .socials {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .socials li {
    display: inline-block;
  }
  
  .socials li i {
  font-size: 20px;
  color: #000;
  font-weight: 600;
    transition: transform 0.3s;
  }
  
  .socials li a img:hover {
    transform: scale(1.2);
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #2c2c2c;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .footer-content h3 {
        font-size: 28px;
    }
  
    .footer-content p {
        font-size: 14px;
    }
  
    .socials li a img {
        width: 30px;
        height: 30px;
    }
  }
  
  